<?xml version="1.0"?>

<model>

  <name>car</name>

  <version>1.0</version>

  <sdf version='1.4'>model.sdf</sdf>

  <author>

    <name>Sushmit Acharya</name>

    <email>sua26@pitt.edu</email>

  </author>

  <description>

    A simple differential drive rover-car with ROS control plugin to use with a ps4 dualshock controller

  </description>

</model>